html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 14px;
}

/*
    typogrphy
*/

h1{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: -0.02em;
}


body{
  font-family: 'Inter', sans-serif;
}

.body{
  padding: 4em 2em;
}

.body-con{
  position: relative;
}

.svg-sm{
  position: absolute;
  top: -1em;
  right: 0;
  text-shadow: 5px 2px 3px gray !important;
}

.svg-lg{
  display: none;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile__img{
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1.7em;
}

#slack{
  display: none;
}

.links-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.7em 0;
}

.links{
  padding: 1em;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #101828;
  background-color:  #EAECF0;
  border: 1px solid  #EAECF0;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  
}

.links:hover{
  background-color:  #e0e0e0;
}

.route-link-con{
  width: 100%;
}

.route-link{
  text-decoration: none;
  color: #101828;
  display: block;
}

.logo-con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
  padding: 1.7em 0;

}

.logo-con img{
  width: 1.5rem;
}

hr{
  border: 1px solid rgb(227, 222, 222);
  margin-top: 2em;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1em;
  padding-top: 3em;
}

.footer img{
  width: 8rem;
  white-space: nowrap;
}

.footer h5{
  color: #667085;
  font-size: 16px;
}

@media screen and (min-width: 1020px) {
  .body{
    padding: 4em 8em;
  }

  .svg-sm{
    display: none;

  }

  .svg-lg{
    display: inline;
    position: absolute;
    top: 0;
    right: 25%;
  }

 

  .footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


